@media screen and (max-width: 1400px) {
    #perfil {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .sobre-containers {
      flex-wrap: wrap;
    }
    #contato,
    #projetos {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #nav-pc{
        display: none;
    }
    #nav-mobile{
        display: flex;
    }
    #experiencia,
    .detalhes-experiencia-container {
      margin-top: 2rem;
    }
    #perfil,
    .section-container {
      display: block;
    }
    .seta {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .section_foto-container {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .sobre-containers {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contato,
    footer {
      height: 40vh;
    }
    #perfil {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .sobre-containers,
    .info-contato-cima-container {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .contato-info-container {
      margin: 0;
    }
    .contato-info-container p,
    .link-nav li a {
      font-size: 1rem;
    }
    .experiencia-subtitulo {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .link-nav {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section_foto-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section_texto_p2 {
      font-size: 1.25rem;
    }
    .titulo {
      font-size: 2rem;
    }
    .texto-container {
      text-align: justify;
    }
    #projetos button {
        width: 8rem;
    }
    .btn-container {
        flex-wrap: wrap;
        flex-direction: row;
    }

  }